.chat-text-box{
    position: absolute;
    bottom: 0;
    z-index: 10;
    background-color: #e6ffd5;
    padding: 0 20px;
    width: 100%;
    display: grid;
    grid-template-columns: 10fr 1fr;

}

.chat-submit-btn{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: 	#8fe275;
    font-size: 30px;
    color: #fff;
    font-weight:bold;
    border:none;
    padding: 2px 11px;
    margin: 0 5px
}